body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f1f5ff;
  color:#1f2937;
}

.topbar{
  background:#1e40af;
  color:white;
  padding:20px;
  text-align:center;
}

.container{
  padding:20px;
}

h2{
  margin-bottom:15px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:15px;
}

.card{
  background:white;
  padding:15px;
  border-radius:12px;
  text-decoration:none;
  color:#1e40af;
  font-weight:bold;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
  text-align:center;
}

.card:hover{
  background:#e0e7ff;
}

/* halaman materi */
.materi{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.menu-materi{
  margin-bottom:15px;
}

.menu-materi a{
  display:inline-block;
  margin:4px;
  padding:6px 10px;
  background:#e0e7ff;
  color:#1e40af;
  text-decoration:none;
  border-radius:8px;
  font-size:13px;
}

code{
  background:#111827;
  color:#22c55e;
  padding:10px;
  display:block;
  border-radius:8px;
  margin:10px 0;
}
